@model EmployeeJobHistoriesModeledit
@{
}

<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="container my-5">
	<div class="card">
		<!-- Card header -->
		<div class="card-header py-4 px-5 bg-light border-0">
			<h4 class="mb-0 fw-bold">@ViewBag.fullname 's Job history</h4>
		</div>

		<!-- Card body -->
		<div class="card-body px-5">
			<div class="col">
				<table id="myTable2" class="display">
					<thead>
						<tr>
							<th>Job History Id</th>
							<th>Position Name</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var history in ViewBag.jobHistoryList)
						{
							<tr>
								<td>@history.EmployeeJobHistoryid</td>
								<td>@history.PositionName</td>
								<td>@history.StartDate</td>
								<td>@history.EndDate</td>
								<td><a href="@history.Employeeid/@history.EmployeeJobHistoryid ">Edit</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>

<div class="container my-5">
    <div class="card">
		<form method="post" id="employeeform">

			<!-- Card header -->
			<div class="card-header py-4 px-5 bg-light border-0">
				<h4 class="mb-0 fw-bold">Edit for position: @Model.PositionName</h4>
			</div>

			<!-- Hidden IDs-->
			<label asp-for="EmployeeJobHistoryid" class="form-label" hidden></label>
			<input type="text" class="form-control" asp-for="EmployeeJobHistoryid" hidden>
			<label asp-for="Employeeid" class="form-label" hidden></label>
			<input type="text" class="form-control" asp-for="Employeeid" hidden>
			<label asp-for="Positionid" class="form-label" hidden></label>
			<input type="text" class="form-control" asp-for="Positionid" hidden>

			<!-- Card Body-->
			<div class="card-body px-5">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<div class="mb-3">
							<label asp-for="Employeeid" class="form-label">Original Start Date: @DateOnly.FromDateTime(Model.StartDate)</label>
							<input type="date" class="form-control" asp-for="StartDate">
						</div>
					</div>

					<div class="col-md-6">
						<div class="mb-3">
							<label asp-for="Employeeid" class="form-label">Original End Date: @DateOnly.FromDateTime(Model.EndDate)</label>
							<input type="date" class="form-control" asp-for="EndDate">
						</div>
					</div>

						<div class="col-md-6">
							<div class="mb-3">
								<button type="submit" class="btn btn-primary">Change</button>
							</div>
						</div>
				</div>
			</div>
			</div>
			
		</form>
	</div>
</div>