@model EmployeeJobHistoriesModeledit
@{
}
<h2>View or Edit employees job histories!</h2>
<br />
<h3>Employee Full name: @ViewBag.fullname </h3>
<h3>Employee ID: @ViewBag.jobHistoryList[0].Employeeid</h3>
<br />
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<table id="myTable2" class="display">
	<thead>
		<tr>
			<th>Job History Id</th>
			<th>Position Name</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var history in ViewBag.jobHistoryList)
		{
			<tr>
				<td>@history.EmployeeJobHistoryid</td>
				<td>@history.PositionName</td>
				<td>@history.StartDate</td>
				<td>@history.EndDate</td>
				<td><a href="@history.Employeeid/@history.EmployeeJobHistoryid ">Edit</a></td>
			</tr>
		}
	</tbody>
</table>
<br />
<form method="post"  id="employeeform">
	For position = @Model.PositionName

	<div class="row">

		<div class="col">
			<label asp-for="Employeeid" class="form-label">Original Start Date: @DateOnly.FromDateTime(Model.StartDate)</label>
			<input type="date" class="form-control" asp-for="StartDate" >
		</div>
		<div class="col">
			<label asp-for="Employeeid" class="form-label">Original End Date: @DateOnly.FromDateTime(Model.EndDate)</label>
			<input type="date" class="form-control" asp-for="EndDate">
		</div>
		
			<label asp-for="EmployeeJobHistoryid" class="form-label" hidden></label>
		<input type="text" class="form-control" asp-for="EmployeeJobHistoryid" hidden>
			<label asp-for="Employeeid" class="form-label" hidden></label>
			<input type="text" class="form-control" asp-for="Employeeid" hidden>
		<label asp-for="Positionid" class="form-label" hidden></label>
		<input type="text" class="form-control" asp-for="Positionid" hidden>
		
		<div class="col">
			<br />
			<button type="submit" class="btn btn-primary">Change</button>
		</div>
	</div>
</form>