@model List<EmployeeJobHistoriesModel>
@{
}
<h2>View or Edit employees job histories!</h2>
<br />
<h3>Full name: @ViewBag.fullname </h3>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<br />
<table id="myTable2" class="display">
	<thead>
		<tr>
			<th>Job History Id</th>
			<th>Position Name</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var history in Model)
		{
			<tr>
				<td>@history.EmployeeJobHistoryid</td>
				<td>@history.PositionName</td>
				<td>@history.StartDate</td>
				<td>@history.EndDate</td>
				<td><a href="../EmployeeJobHistoryEdit/@history.Employeeid/@history.EmployeeJobHistoryid ">Edit</a></td>
			</tr>
		}
	</tbody>
</table>
<br />
